.nav-main {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
}

.btn-toggle-nav {
  width: 50px;
  height: 60px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-image: url("../imgs/iconmonstr-plus-circle-thin-240.png");
  background-size: 180%;
  background-position: center;
  cursor: pointer;
}

.btn-toggle-nav:hover {
  opacity: 0.8;
}

.nav-main ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
}

.nav-main ul li {
  list-style: none;
  line-height: 60 px;
}

.nav-main ul li a {
  display: block;
  height: 100%;
  padding: 0 10px;
  text-transform: capitalize;
  text-decoration: none;
  color: #111;
  font-family: calibri;
}

.nav-sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50px;
  height: calc(100vh - 60px);
  padding: 0 5px;
  background-color: #211510;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.nav-sidebar ul {
  padding-top: 15px;
  overflow: hidden;
  visibility: hidden;
}

.nav-sidebar ul li {
  line-height: 60px;
  list-style: none;
}

.nav-sidebar ul li span,
.nav-sidebar ul li a,
.nav-sidebar-div {
  display: block;
  height: 60px;
  padding: 0 0px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: calibri;
  font-size: 16px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.nav-sidebar ul li a:hover {
  background-color: #222;
}

.nav-sidebar-div p {
  color: aqua;
  font-size: 20px;
}
